p {
	margin: $paragraph_margin;
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $headingsfont;
	font-weight: $headings_font_weight;
	color: $headings_color;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;

	@media (max-width: 959px) {
		margin: 24px 0 16px;
	}
}

h1, .h1 {
	@include fz($h1);
	margin-top: 0;
	line-height: 1;

	@media (min-width: 1440px) {
		@include fz(60);
	}

	@media (max-width: 1259px) {
		@include fz(54);
	}

	@media (max-width: 1259px) {
		@include fz(46);
	}

	@media (max-width: 959px) {
		@include fz(42);
		line-height: 1.1;
	}

	@media (max-width: 599px) {
		@include fz(36);
		line-height: 1.14;
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;

	@media (max-width: 959px) {
		@include fz(40);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 1.2;

	@media (max-width: 959px) {
		@include fz(32);
	}

	@media (max-width: 599px) {
		@include fz(26);
	}
}
h4, .h4, .ui-h4 {
	@include fz($h4);
}
h5, .h5 {
	@include fz($h5);
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {
	color: $link;
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;

	@media (min-width:960px) {
		&:hover {
			text-decoration: none;
			color: $link_hover;
		}
		&:active {
			color: $link_active;
		}
	}
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  overflow: hidden;
}

table {
	border-collapse: collapse;
}
.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */
.sprite {
	display: block;
	max-width: 100%;
	max-height: 100%;
	transition: stroke $trn_d, fill $trn_d;
}

::selection {
	background: $primary;
	color: #FFF;
}
::-moz-selection {
	background: $bgc;
	color: #FFF;	
}
@media (min-width: 992px) {
	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		background-color: $primary;
	}
	::-webkit-scrollbar-thumb {
		width: 4px;
		height: 4px;
		background-color: #fff;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($primary, 8%);
	}
}


.ui-field {
	margin-bottom: 12px;
}
.ui-btn {
	display: inline-block;
	vertical-align: middle;
	height: 70px;
	line-height: 70px;
	max-width: 100%;
	position: relative;
	// border: 1px solid $primary;
	border: 0;
	border-radius: 10px;
	padding: 0px 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: $primary;
	box-shadow: none;
	color: #FFF;
	text-align: center;
	font-family: $headingsfont;
	@include fz(20);
	cursor: pointer;
	transition: background-color .4s;

	&-midi {
		height: 60px;
		line-height: 60px;
		@include fz(16);
	}

	@media (max-width: 599px) {
		height: 55px;
		line-height: 55px;
		@include fz(15);
	}

	&-icon {
		display: inline-block;
		vertical-align: -0.25em;
		width: 1.25em;
		height: 1.25em;
		margin-right: 3px;
		fill: none;
	}

	&-block {
		display: block;
		width: 100%;
		padding: 0px 5px;
	}

	&:hover {
		color: #FFF;
		background-color: $primary_hover;
	}
	&:active {
		color: #FFF;
		background-color: $primary_active;
	}

	&-secondary {
		background-color: #8F8279;

		&:hover {
			background-color: darken(#8F8279, 5%);
		}
		&:hover {
			background-color: darken(#8F8279, 8%);
		}
	}
}

span.invalid {
	display: block;
	color: red;
	padding-top: 7px;
	font-size: 0.7em;
	padding-left: 24px;

	@media (max-width: 599px) {
		padding-left: 18px;
	}
}
.ui-checkbox + span.invalid {
	margin-top: -12px;
	padding-left: 32px;
}




.volume-control {
	display: inline-block;
	white-space: nowrap;
	color: #FFF;
	@include fz(18);
	outline: none;
	user-select: none;

	&-txt {
		&.playing {
			display: none;
		}
	}

	&-icon {
		margin-left: 2px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 48px;
		height: 48px;
		border: 1px solid rgba(#FFF, .5);
		background-color: #FFF;
		border-radius: 24px;
		// padding: 8px;
		font-style: normal;
		transition: border .3s, background-color .3s;

		&:before, 
		&:after {
			content: "";
			position: absolute;
			left: 8px;
			right: 8px;
			top: 8px;
			bottom: 8px;
		}
		&:before {
			background: url(../images/svg/mute.svg) center no-repeat;
		}
		&:after {
			background: url(../images/svg/unmute.svg) center no-repeat;
			opacity: 0;
		}
	}

	&-anim {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			left: -3px;
			right: -3px;
			top: -3px;
			bottom: -3px;
			background: rgba(#FFF, .3);
			border-radius: 50%;
		}
	}

	&:hover {
		color: #FFF;
	}
	&.playing {
		.volume-control-icon {
			background-color: $primary;

			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
		.volume-control-txt {
			&.playing {
				display: inline;
			}
			&.notplaying {
				display: none;
			}
		}
	}

	@media (max-width: 1024px) {
		&-txt {
			display: none !important;
			visibility: hidden;
		}
	}
}

.ui-input {
	display: block;
	width: 100%;
	max-width: 100%;
	height: 70px;
	padding: 0px 24px;
	@include fz(18);
	border: 0;
	border-radius: 15px;
	background-color: #EFF2F1;
	color: #7C8885;
	outline: none;
	box-shadow: none;
	font-family: $headingsfont;
	font-weight: 400;
	transition: background-color .45s;

	&:hover {
		background-color: darken(#EFF2F1, 4%);
	}
	&:focus {
		background-color: darken(#EFF2F1, 7%);
		// color: #FFF;
	}

	@media (max-width: 599px) {
		height: 55px;
		padding: 0px 18px;
		@include fz(15);
	}
}

.ui-checkbox {
	position: relative;
	padding-left: 32px;
	margin-bottom: 10px;
	display: block;
	min-height: 24px;
	user-select: none;

	&-input {
		position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	}

	&-label {
		cursor: pointer;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0.1em;
			width: 1.25em;
			height: 1.25em;
			// width: 24px;
			// height: 24px;
			border: 1px solid #7C8885;
			border-radius: 3px;
		}
		&:after {
			content: "";
			opacity: 0;
			position: absolute;
			// left: 9px;
			// top: 7px;
			// width: 6px;
			// height: 11px;
			left: 0.45em;
			top: 0.35em;
			width: 0.4em;
			height: 0.6em;
			border-bottom: 2px solid $primary;
			border-right: 2px solid $primary;
			transform: rotate(45deg);
		}
	}

	&-input:checked + .ui-checkbox-label {
		&:after {
			opacity: 1;
		}
	}
}